<style>
    .toast-container {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
    }

    .toast {
        background: #04650b;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(3, 119, 26, 0.2);
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.3s, transform 0.3s;
    }

    .toast.show {
        opacity: 1;
        transform: translateY(0);
    }

    .toast.success { background: #04650b; }   /* Green */
    .toast.error   { background: #d32f2f; }   /* Red */
    .toast.info    { background: #1976d2; }   /* Blue */
</style>
<footer class="bg-black text-white py-12">
    <div class="container mx-auto text-center">
        <p class="mb-4">&copy; 2024 Shoe Vault. All rights reserved.</p>
        <div class="flex justify-center space-x-6">
            <a href="#" class="text-white hover:text-accent transition duration-300">Privacy Policy</a>
            <a href="#" class="text-white hover:text-accent transition duration-300">Terms of Service</a>
            <a href="#" class="text-white hover:text-accent transition duration-300">Contact Us</a>
        </div>
    </div>
</footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        async function addToCart(event, productId) {
             event.stopPropagation();
            event.preventDefault();
            // const selectedSize = $('#selectedSize').val();

            // if (!selectedSize) {
            //     showToast('Please select a size before adding to the cart.');
            //     return;
            // }
            $.ajax({
                url: `/cart/add`,
                type: 'POST',
                data: { productId: productIde },
                success: function (response) {
                    showToast(response.message);
                },
                error: function (xhr) {
                    const response = xhr.responseJSON;
                    showToast(response.message)
                }
            });
        }

        function showToast(message, type = 'success') {
            const toastContainer = $('#toast-container');
            const toast = $(`
                <div class="toast ${type}">
                    <p>${message}</p>
                </div>
            `);
            toastContainer.append(toast);
            toast.addClass('show');
            setTimeout(() => {
                toast.removeClass('show');
                setTimeout(() => toast.remove(), 300);
            }, 2000);
        }
    </script>
    <div id="toast-container" class="toast-container"></div>
   